body, html {
    font-family: "Montserrat", sans-serif;
    background: #3d3d3d;
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-behavior: smooth; /* Adiciona rolagem suave */
    box-sizing: border-box;
}


    


.profile {
    padding: 20px;
    cursor: default;
    display: flex;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    transition: transform 0.15s ease-in-out; 
}

.profile-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.profile h1 {
    color: white;
    margin: 10px 0;
}



.profile-info h3{
    color: white;
    margin: 10px 0;
    margin-bottom: 0;
    
}


 

.profile-info p {
    color: rgb(150, 148, 148);
    line-height: 1.5;
}

.skills-box h3 {
    color: white;
    margin: 10px 0;
    margin-bottom: 0;
}


.skills-links img {
    width: 15%;
    border-radius: 20px;
    margin: 25px;
    transition: transform 0.15s ease-in-out;
}


.skills-links img:hover {
    transform: scale(1.3);
}


.social-links {
    display: flex;
    justify-content: center;
    gap: 25px; /* Espaçamento entre os itens */

}



.social-links img {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    transition: transform 0.15s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.3);
}

.projects-box {
    color: white;
    margin: 10px 0;
    margin-bottom: 0;
}

.projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os elementos quebrem a linha conforme necessário */
}

.projetos p {
    padding-top: 25px;
}

.projeto {
    text-align: center;
    margin: 30px;
}

.projeto img {
    width: 100%;
    max-width: 400px; /* Ajusta o tamanho máximo da imagem */
    transition: transform 0.15s ease-in-out;
}

.projeto img:hover {
    transform: scale(1.3);
}

.projeto p {
    color: white;
    margin-top: 10px;
}

.navbar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
}
.navbar a:hover {
    background-color: #44c93a;
    border-radius: 20px;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.navbar-box .logo {
    margin-left: 20px;
    position: absolute;
    left: 0; /* Fixa a logo no canto esquerdo */
}

.wpp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.wpp-button img {
    width: 70px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
}

.wpp-button img:hover {
    transform: scale(1.3);
}

.logo img{
    width: 50px;
}

.section {
    min-height: 100vh;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    flex-shrink: 0;
}








/*  ANIMAÇÃO FADE-IN AO EXIBIR ALGUNS ELEMENTOS DA PÁGINA AO CARREGÁ-LA */
.fade-in {
    opacity: 0;  
    animation: fadeInAnimation ease 3s; 
    animation-fill-mode: forwards; 
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/*  ANIMANDO CURSOR APÓS DIGITAÇÃO DO NOME */
    #typing {
        font-size: 31px;
        font-family: 'Courier New', Courier, monospace;
        white-space: nowrap;
        white-space: pre-wrap; /* Permite quebras de linha e espaços, para o texto ficar responsivo
        outros aparelhos */
    }

    #cursor {
        border-right: 3px solid white;
        animation: blink 1s step-end infinite;
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

    
/* ESTILO PARA BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    height: 8px; /* Altura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #44c93a; /* Cor do polegar da barra de rolagem */
    border-radius: 10px; /* Borda arredondada */
}

